# 시리즈
딕셔너리와 시리즈의 구조가 비슷하기 때문에 딕셔너리를 시리즈로 변환하는 방법을 많이 사용한다.
판다스 내장 함수인 Series()를 이용하고, 딕셔너리를 함수의 인자로 전달한다.  
- 딕셔너리 -> 시리즈 변환: pandas.Series(딕셔너리)

In [1]:
import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dict_data)

print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [2]:
import pandas as pd
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [3]:
#인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [4]:
import pandas as pd
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [5]:
#원소를 1개 선택
print(sr[0]) #sr의 1번째 원소를 선택(정수형 위치 인덱스)
print(sr['이름']) # '이름' 라벨을 가진 원소를 선택(인덱스 이름)

영인
영인

In [6]:
#여러개의 원소를 선택
print(sr[[1, 2]])
print('\n')
print(sr[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [7]:
#여러개의 원소를 선택(인덱스 범위 지정)
print(sr[1:2])
print('\n')
print(sr['생년월일':'성별'])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

# 데이터프레임
데이터프레임은 2차원 배열이다.행과 열로 만들어지는 2차원 배열 구조는 마이크로소프트 엑셀과 관계형 데이터베이스 등 컴퓨터 다양한 분야에서 사용된다.  
데이터 프레임의 각 열은 각각 시리즈 객체이다.  
시리즈를 열벡터라고 하면, 데이터프레임은 여러개의 열벡터들이 같은 행 인덱슬르 기준으로 줄지어 결합된 2차원 벡터 또는 행렬이다.
- 딕셔너리 => 데이터프레임 변환 : pandas.DataFrame(딕셔너리 객체)

In [8]:
import pandas as pd
#열이름은 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}
#판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)
#df의 자료형 출력
print(type(df))
print('\n')
# 변수 df에 저장되어있는 데이터프레임 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

## 행 인덱스/열 이름 설정
  - 행 인덱스/열 이름 설정: pandas.DataFrame( 2차원 배열, index = 행 인덱스 배열, columns = 열 이름 배열)

In [9]:
import pandas as pd
# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17,'여', '수리중']], index = ['준서', '예은'], columns = ['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인하기
print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [10]:
#행 인덱스, 열 이름 변경하기
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [11]:
import pandas as pd
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns = ['나이', '성별', '학교'])
print(df)
print("\n")

# 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 '소속'으로 바꾸기
df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace = True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [12]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89,95],
            '음악' : [85, 95, 100], '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row) 삭제
df2 = df[:]
df2.drop('우현', inplace = True)
print(df2)
print('\n')

# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row) 삭제
df3 = df[:]
df3.drop(['우현','인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\singo\anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\singo\anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [13]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95], '음악' : [85, 95, 100], '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index = ['서준' ,'우현', '인아'])
print(df)
print('\n')

# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column) 삭제
df4 = df[:]
df4.drop('수학', axis = 1, inplace=True)
print(df4)
print('\n')
#데이터프레임 df를 복제하여 변수df5에 저장. df5의 2개 열 (column)삭제
df5 = df[:]
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\singo\anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\singo\anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### 행 선택
- 데이터프레임의 행 데이터를 선택하기 위해서는 loc과 iloc 인덱서를 사용한다.
    - 인덱스 이름을 기준으로 행을 선택할 때는 loc를 이용하고, 정수형 위치 인덱스를 사용할 때에는 iloc을 사용한다.
|:구분:|:loc:|:iloc:|
|-----|-----|-----|
|:탐색 대상:|:인덱스 이름(index label):|:정수형 위치 인덱스(integer position):|
|:범위 지정:|:<p>가능(범위의 끝 포함) <br> 예) ['a':'c'] -> 'a', 'b', 'c' </p>:|:<p>가능(범위의 끝 제외) <br> 예) [3:7] -> 3, 4, 5, 6 (*7제외)</p>:|

In [14]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어': [98,89, 95], '음악':[85,95,100], '체육': [100, 90, 90]}
df = pd.DataFrame(exam_data, index= ['서준', '우현', '인아'])
print(df)
print('\n')

# 행 인덱스를 사용하여 행 1개 선택
label1 = df.loc['서준']
position1 = df.iloc[0]
print(label1)
print('\n')
print(position1)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

### 열 선택
<p>데이터프레임의 열 데이터를 1개만 선택할 때는 대괄호([])안에 열 이름을 따옴표와 함께 입력하거나 도트(.) 다음에 열 이름을 입력하는 두 가지 방식을 사용한다.<br> 두 번째 방법은 반드시 열 이름이 문자열일 경우에만 가능하다. 이처럼 열 1개를 선택하면 시리즈 객체가 반환된다.</p>
- 열 1개 선택(시리즈 생성): DataFrame 객체["열 이름"] 또는 DataFrame 객체.열이름
<p>대괄호 안에 열 이름의 리스트를 입력하면 리스트의 원소인 열을 모두 선택하여 데이터프레임으로 반환한다.<br> 또한 리스트의 원소로 열 이름 한 개만 있는 경우에도, 2중 대괄호([[]])를 사용하는 것이 되어 반환되는 객체는 시리즈가 아니라 데이터프레임이 된다.</p>
- 열 n개 선택(데이터프레임 생성): DataFrame 객체[[열1, 열2, ... , 열n]]

In [15]:
import pandas as pd
exam_data = {'이름' : ['서준', '우현', '인아'],
            '수학' : [90, 80, 70],
            '영어' : [98, 89, 95],
            '음악': [85, 95, 100],
            '체육': [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

# '수학' 점수 데이터만 선택. 변수 math1에 저장
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# '영어' 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english)
print(type(english))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
# '음악', '체육' 점수 데이터를 선택. 변수 music_gym에 저장
music_gym = df[['음악','체육']]
print(music_gym)
print(type(music_gym))
print('\n')
# '수학' 점수 데이터만 선택. 변수 math2에 저장
math2 = df[['수학']]
print(math2)
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

### 범위 슬라이싱의 고급 활용
<p>판다스 데이터프레임의 원소 데이터를 선택할 때, 범위를 지정하여 슬라이싱하는 방법을 여러 가지로 응용할 수 있다.<br>iloc 인덱서를 예를 들어보자.</p>
- 범위 슬라이싱: DataFrame 객체.iloc[시작인덱스: 끝 인덱스: 슬라이싱 간격]
슬라이싱 범위는 "시작 인덱스"를 포함하고 "끝 인덱스"보다 1이 작은 인덱스까지 포함한다. "슬라이싱 간격"을 지정하지 않으면 1씩 증가한다.

In [17]:
df.iloc[::2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [18]:
df.iloc[0:3:2]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
2  인아  70  95  100   90

In [19]:
#역순으로 인덱싱하려면 "슬라이싱 간격"에 -1을 입력한다. 데이터프레임 df의 모든 행을 선택하여 역순으로 정렬하려면 df.iloc[::-1]라고 입력한다.
df.iloc[::-1]

   이름  수학  영어   음악   체육
2  인아  70  95  100   90
1  우현  80  89   95   90
0  서준  90  98   85  100

### 원소 선택
데이터프레임의 행 인덱스와 열 이름을 [행, 열] 형식의 2차원 좌표로 입력하여 원소 위치를 지정하는 방법이다.  
원소가 위치하는 행과 열의 좌표를 입력하면 해당 위치의 원소가 반환된다.  
1개의 행과 2개 이상의 열을 선택하거나 반대로 2개 이상의 행과 1개의 열을 선택하는 경우 시리즈 객체가 반환된다.  
2개 이상의 행과 2개 이상의 열을 선택하면, 데이터프레임 객체를 반환한다.
- 인덱스 이름: DataFrame 객체.loc[행 인덱스, 열 이름]
- 정수 위치 인덱스: DataFrame 객체.iloc[행번호, 열 번호]

In [20]:
import pandas as pd
exam_data = {"이름": ['서준', '우현', '인아'],
            '수학': [90, 80, 70],
            '영어': [98, 89, 95],
            '음악': [85, 95, 100],
            '체육': [100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름', 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영
df.set_index('이름', inplace = True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [21]:
# 데이터프레임 df의 특정 원소 1개 선택('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0,2]
print(b)

85
85

In [23]:
#데이터프레임 df의 특정 원소 2개 이상 선택('서준'의 '음악', '체육' 점수)
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2,3]]
print(d)
e = df.loc['서준', '음악':'체육']
print(e)
f = df.iloc[0,2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [25]:
# df 2개 이상의 행과 열에 속하는 원소들 선택('서준', '우현'의 '음악','체육' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0,1], [2,3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

### 열 추가
데이터프레임에 열을 추가하는 방법이다.  
데이터프레임의 마지막 열에 덧붙이듯 새로운 열을 추가한다.
- 열 추가: DataFrame 객체['추가하려는 열 이름'] = 데이터 값

In [26]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름' : [ '서준', '우현', '안아'],
            '수학': [90, 80, 70],
            '영어' : [98, 89, 95],
            '음악' : [85, 95, 100],
            '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 데이터프레임 df에 '국어' 점수 열(column) 추가, 데이터 값은 80 지정
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  안아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  안아  70  95  100   90  80

### 행추가
데이터프레임에 행을 추가하는 방법이다.  
추가하려는 행 이름과 데이터 값을 loc 인덱서를 사용하여 입력한다.  
하나의 데이터 값을 입력하거나, 열의 개수에 맞게 배열 형태로 여러개의 값을 입력할 수 있다.  
전자의 경우 행의 모든 원소에 같은 값이 추가된다.  
후자의 경우 배열의 순서대로 열 위치에 값이 하나씩 추가된다.  
또한 행 벡터 자체가 배열이므로, 기존 행을 복사해서 새로운 행에 그대로 추가할 수도 있다.  
- 행 추가: DataFrame.loc['새로운 행 이름'] = 데이터 값(또는 배열)

In [28]:
import pandas as pd
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름': ['서준', '우현', '인아'],
            '수학' : [90, 80, 70],
            '영어' : [98, 89, 95],
            '음악' : [85, 95, 100],
            '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 새로운 행(row)추가 - 같은 원소 값 입력
df.loc[3] = 0
print(df)
print('\n')

# 새로운 행(row) 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print('\n')

# 새로운 행(row)추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

### 원소 값 변경
데이터프레임의 특정 원소를 선택하고 새로운 데이터 값을 지정해주면 원소 값이 변경된다.  
원소 1개를 선택하여 변경할 수도 있고, 여러개의 원소를 선택하여 한꺼번에 값을 바꿀 수도 있다.  
변경할 원소를 선택할 때 데이터프레임 인덱싱과 슬라이싱 기법을 사용한다.
- 원소 값 변경: DataFrame 객체의 일부분 또는 원소를 선택 = 새로운 값

In [29]:
import pandas as pd
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름'  : ['서준', '우현', '인아'],
            '수학' : [90, 80, 70],
            '영어' : [98, 89, 95],
            '음악' : [85, 95, 100],
            '체육' : [100 ,90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace = True)
print(df)
print('\n')

# 데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준', '체육'] = 100
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [30]:
# 데이터프레임 df의 원소 여러 개를 변경하는 방법: '서준'의 '음악', '체육' 점수
df.loc['서준', ['음악', '체육']] = 50
print(df)
print('\n')

df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

### 행, 열의 위치 바꾸기
데이터프레임의 행과 서로 맞바꾸는 방법이다. 선형대수학의 전치행렬과 같은 개념이다.  
전치의 결과로 새로운 객체를 반환하므로, 기존 객체를 변경하기 위해서는 df = df.transpose() 또는 df = df.T와같이 기존의 객체에 새로운 객체를 할당해주는 과정이 필요하다.  
- 행, 열 바꾸기: DataFrame 객체.transpose() 또는 DataFrame 객체.T

In [31]:
import pandas as pd
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
            '수학' : [90, 80, 70],
            '영어' : [98, 89, 95],
            '음악' : [85, 95, 100],
            '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')
# 데이터프레임 df를 전치하기(메소드 활용)
df = df.transpose()
print(df)
print('\n')

# 데이터프레임 df를 다시 전치하기(클래스 속성 활용)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

# 인덱스 활용
- 특정 열을 행 인덱스로 설정
set_index() 메소드를 사용하여 데이터프레임의 특정 열을 행 인덱스로 설정한다.  
단, 원본 데이터프레임을 바꾸지 않고 새로운 데이터프레임 객체를 반환하는 점에 유의한다.  
- 특정 열을 행 인덱스로 설정: DataFrame 객체.set_index( ['열 이름'] 또는 '열 이름')

In [32]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름': ['서준', '우현', '인아'],
            '수학' : [90, 80, 70],
            '영어' : [98, 89, 95],
            '음악' : [85, 95, 100],
            '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정
ndf = df.set_index(['이름'])
print(ndf)
print('\n')
ndf2 = ndf.set_index('음악')
print(ndf2)
print('\n')
ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

### 행 인덱스 재배열
reindex() 메소드를 사용하면 데이터프레임의 행 인덱스를 새로운 배열로 재지정할 수 있다.  
기존 객체를 변경하지 않고 새로운 데이터프레임 객체를 반환한다.  
- 새로운 배열로 행 인덱스를 재지정: DataFrame 객체.reindex(새로운 인덱스 배열)
기존 데이터프레임에 존재하는 않는 행 인덱스가 새롭게 추가되는 경우 그 행의 데이터 값은 NaN(Not a number)값이 입력된다.

In [34]:
import pandas as pd
# 딕셔너리 정의
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2' : [7,8,9], 'c3' : [10, 11, 12], 'c4': [13, 14, 15]}
# 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index = ['r0', 'r1', 'r2'])
print(df)
print('\n')

# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')
# reindex로 발생한 NaN 값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

### 행 인덱스 초기화
reset_index() 메소드를 활용하여 행 인덱스를 정수형 위치 인덱스로 초기화한다.  
이때 기존행 인덱스는 열로 이동한다. 다른 경우와 마찬가지로 새로운 데이터프레임 객체를 반환한다.
- 정수형 위치 인덱스로 초기화: DataFrame 객체.reset_index()

In [36]:
import pandas as pd
# 딕셔너리 정의
dict_data = {'c0': [1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# 행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

### 행 인덱스를 기준으로 데이터프레임 정렬
sort_index() 메소드를 활용하여 행 인덱스를 기준으로 데이터프레임의 값을 정렬한다.  
ascending 옵션을 사용하여 오름차순 또는 내림차순을 설정한다. 새롭게 정렬된 데이터프레임을 반환한다.  
- 행 인덱스 기준 정렬: DataFrame 객체.sort_index()  
다음의 예제에서는 ascending=False 옵션을 사용하여 내림차순 정렬을 하고, 반환되는 객체를 ndf 변수에 저장하여 출력한다.  
오름차순 정렬은 ascending = True 옵션을 사용한다.

In [37]:
import pandas as pd
#딕셔너리 정의
dict_data = {'c0' : [1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10, 11, 12], 'c4':[13,14,15]}

# 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# 내림차순으로 행 인덱스 정렬
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

### 특정 열의 데이터 값을 기준으로 데이터프레임 정렬하기
특정 열의 데이터를 기준으로 데이터프레임을 정렬할 수 있다. sort_values() 메소드를 활용하며, 새롭게 정렬된 데이터프레임 객체를 반환한다.
- 열 기준 정렬: DataFrame 객체.sort_values()

In [38]:
import pandas as pd
# 딕셔너리 정의
dict_data = {'c0' : [1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10, 11, 12], 'c4': [13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# c1 열을 기준으로 내림차순 정렬
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15


    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

# 산술연산
판다스 객체의 산술연산은 내부적으로 3단계 프로세스를 거친다.  
행/열 인덱스를 기준으로 모든 원소를 정렬한다. 동일한 위치에 있는 원소끼리 일대일로 대응시킨다.  
일대일 대응이 되는 원소끼리 연산을 처리한다. 단 이 때 대응되는 원소가 없으면 NaN으로 처리한다.

## 시리즈 연산
- 시리즈 vs 숫자
시리즈 객체에 어떤 숫자를 더하면 시리즈의 개별 원소에 각각 숫자를 더하고 계산한 결과를 시리즈 객체로 반환한다.  
덧셈, 뺄셈, 곱셈, 나눗셈 모두 가능하다.  
다음의 예제에서는 시리즈 객체의 각 원소를 200으로 나누는 과정을 살펴보자.
- 시리즈와 숫자 연산: Series객체 + 연산자(+,-,'*',/) + 숫자

In [39]:
import pandas as pd

# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)
print('\n')

# 학생의 과목별 점수를 200으로 나누기
percentage = student1/200

print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


<class 'pandas.core.series.Series'>

### 시리즈 vs 시리즈
시리즈와 시리즈 사이에 사칙연산을 처리하는 방법이다. 시리즈의 모든 인덱스에 대하여 같은 인덱스를 가진 원소끼리 계산한다.  
인덱스에 연산 결과를 매칭하여 새 시리즈를 반환한다.  
- 시리즈와 시리즈 연산: Series1 + 연산자(+, -, '*', /) + Series2  
다음의 예제는 두 시리즈 간의 사칙연산을 먼저 처리한다. 그리고 연산의 결과로 반환된 4개의 시리즈 객체를 DataFrame() 메소드를 이용하여 하나의 데이터프레임으로 합치는 과정을 보여준다.

In [40]:
import pandas as pd

# 딕셔너리 데이터 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90, '영어':80})

print(student1)
print('\n')
print(student2)
print('\n')

# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1/student2
print(type(division))
print('\n')

# 사칙 연산 결과를 데이터프레임으로 합치기(시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division],
                     index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어    100
영어     80
수학     90
dtype: int64


수학    80
국어    90
영어    80
dtype: int64


<class 'pandas.core.series.Series'>


              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [41]:
import numpy as np
import pandas as pd
#딕셔너리 데이터로 판다스 만들기
student1 = pd.Series({'국어': np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

print(student1)
print('\n')
print(student2)
print('\n')

#두 학생의 과목별 점수로 사칙연산 수행(시리즈vs시리즈)
addition = student1 + student2
subtraction = student1 - student2
multiplication = student1*student2
division = student1/student2
print(type(division))
print('\n')

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈-> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division],
                     index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

### 연산 메소드
객체 사이에 공통 인덱스가 없거나 NaN이 포함된 경우 연산 결과는 NaN으로 반환된다.  
이런 상황을 피하려면 연산 메소드에 fill_value 옵션을 설정하여 적용한다.  
다음의 예제에서는 누락 데이터 NaN 대신 숫자 0을 입력하는 예를 설명한다.
- 연산 메소드 사용(시리즈와 시리즈 덧셈): Series1.add(Series2, fill_value=0)

In [42]:
import pandas as pd
import numpy as np
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어': np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})
print(student1)
print('\n')
print(student2)
print('\n')

# 두 학생의 과목별 점수로 사칙연산 수행(연산_메소드 사용)
sr_add = student1.add(student2, fill_value=0) #덧셈
sr_sub = student1.sub(student2, fill_value=0) #뺄셈
sr_mul = student1.mul(student2, fill_value=0) #곱셈
sr_div = student1.div(student2, fill_value = 0) #나눗셈
# 사칙연산 결과를 데이터프레임으로 합치기(시리즈-> 데이터 프레임)
result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div],
                     index = ['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

## 데이터프레임 연산
데이터프레임은 여러 시리즈가 한데 모인 것이므로 시리즈 연산을 확장하는 개념으로 이해하는 것이 좋다.  
먼저 행/열 인덱스를 기준으로 정렬하고 일대일 대응되는 원소끼리 연산을 처리한다.
- 데이터프레임과 숫자 연산: DataFrame 객체 + 연산자(+, -, *, /) + 숫자  
다음의 예제는 데이터프레임에 1-을 더하는 과정을 설명한다. 여기서는 Seaborn 라이브러리에서 제공하는 데이터셋 중에서 타이타닉('titanic') 데이터셋을 사용한다.  
타이타닉호 탑승자에 대한 인적사항과 구조 여부 등을 정리한 자료이다. load_dataset()함수로 불러온다.

In [43]:
import pandas as pd
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.head())
print('\n')
print(type(df))
print('\n')
# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.head()) # 첫 5행만 표시
print('\n')
print(type(addition))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>


    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

### 데이터프레임 vs 데이터프레임
각 데이터프레임의 같은 행, 같은 열 위치에 있는 원소끼리 계산한다.  
이처럼 동일한 위치의 원소끼리 계산한 겨로가값을 원래 위치에 다시 입력하여 데이터프레임을 만든다.  
데이터프레임 중에서 어느 한쪽에 원소가 존재하지 않거나 NaN이면 연산 결과는 NaN으로 처리된다.  
- 데이터프레임의 연산자 활용 : DataFrame1 + 연산자(+,-,x,/) + DataFrame2  
다음의 예제는 데이터프레임(df)에 숫자 1-을 더해서 데이터프레임(addition)을 만든다.  
그리고 덧셈의 결과인 데이터프레임(addition)에서 원래 데이터프레임(df)을 빼면, 숫자 10을 원소로만 갖는 데이터프레임(subtraction)이 반환된다.  
단 NaN이 포함된 경우 NaN으로 처리된다.

In [44]:
import pandas as pd
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.tail()) # 마지막 5행 표시
print('\n')
print(type(df))
print('\n')

# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.tail()) # 마지막 5행 표시
print('\n')
print(type(addition))
print('\n')

# 데이터프레임끼리 연산하기(addition-df)
subtraction = addition - df
print(subtraction.tail()) # 마지막 5행 표시
print('\n')
print(type(subtraction))

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75


<class 'pandas.core.frame.DataFrame'>


      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75


<class 'pandas.core.frame.DataFrame'>


      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>